div {
    border: 2px solid black;
}


header h1 {
    text-align: center;
    font-size: 2em; /
    margin-top: 20px; 
}

.square_grid {
    display: grid; 
    grid-template-columns: repeat(10, 1fr); 
    gap: 2px; 
    border: 2px solid black; 
    width: fit-content; 
}

.tile {
    width: 30px; 
    aspect-ratio: 1 / 1; 
    border: 1px solid rgba(0, 0, 0, 0.2); 
    background-color: white; 
}

.tile:hover {
    border-color: black; 
}
